@media (max-width: 575.98px) {
    body {
      min-height: 81vh;
    }
  
    main {
      height: 81vh;
      max-height: 81vh;
    }
  
    /* .vh-cel {
      height: 80vh !important;
    } */
  }
  
  @media (min-width: 576px) {
    body {
      min-height: 100vh;
    }
  
    main {
      height: 100vh;
      max-height: 100vh;
    }
  
    .vh-cel {
      height: 100vh !important;
    }
  }